login.css

body {
    background-color: #181818 !important; 
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(109, 107, 107, 0.5),
              0px 6px 6px rgba(209, 208, 209, 0.2);
    max-width: 400px;
    width: 100%;
    padding: 30px;
    text-align: center;
  }
  
  .login-card h2 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .form-group input:focus {
    border-color: #b3ff00; 
    outline: none;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #4d4b4b; /* Updated to match palette */
    color: #0d0d0d; 
    border: none;
    border-radius: 6px;
    
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #d3d3d3; /* Updated to match palette */
    color: #0d0d0d; /* Updated text color on hover */
    transform: scale(1.05);
  }
  .password-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #b3ff00;
    margin-left: 10px;
}


