
   .profile-form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .form-title {
    grid-column: span 2;
    margin-bottom: 15px;
    color: #7cfc00;
    text-align: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #229b22;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

   .button-group {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-group button {
    padding: 10px 20px;
    background-color: #7cfc00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 48%;
  }
  
  .button-group button.update-button {
    background-color: #7cfc00; /* Blue color for the update button */
  }
  
  .button-group button:hover {
    background-color: #229b22; /* Hover effect background color */
    transform: translateY(-2px); /* Add a slight upward movement on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }