
   .profile-form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    background-color: #181818;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    box-shadow: 0px 10px 20px rgba(109, 107, 107, 0.5),
              0px 6px 6px rgba(209, 208, 209, 0.2);
  }
  
  .form-title {
    grid-column: span 2;
    margin-bottom: 15px;
    color: #b3ff00 ;
    text-align: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #d3d3d3 ;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-sizing: border-box;
  }

   .button-group {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-group button {
    padding: 10px 20px;
    background-color: #4d4b4b; 
    color: #0d0d0d; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 48%;
    transition: background-color 0.3s, transform 0.3s;

  }
  
  .button-group button.update-button {
    background-color: #4d4b4b; /* Blue color for the update button */
  }
  
  .button-group button:hover {
    background-color: #d3d3d3; 
    color: #0d0d0d; 
    transform: scale(1.05);
  }